﻿@model List<string>
@{
    Layout = "~/Views/Shared/_LayoutForPrinting.cshtml";
}

<strong>Osoby do kontaktu</strong>
<br />

@{
    string markup = "";
    foreach (string item in Model)
    {
        markup += item;
    }
}

@Html.Raw(markup)

@{Html.RenderAction("GetComments", "PatientCardComment");} 