﻿@model Hospice.Models.SeededCategories

@{
    ViewBag.Title = "Platforma FHO";
}

<div class="row">
    <div class="col-md-12">
        <section id="">
            @{Html.RenderAction("_PatientCardSelectedPatientSelected", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientMenu", "PatientCard");}
        </section>
        <section id="">
            @Html.Partial("_PatientCardMedicalHistoryTreeCategories", Model)
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
