﻿@model Hospice.Domain.Entities.ViewComment


@using (Html.BeginForm("AddComment", "PatientCardComment"))
{
   <table>
       <tr>
           <td>
               @Html.TextAreaFor(m => m.Content)
               @Html.ValidationMessageFor(m => m.Content)
           </td>
       </tr>
       <tr>
           <td>

               <input type="submit" value="Dodaj" />

           </td>
       </tr>
   </table>

    

    
}


