﻿@model List<Hospice.Domain.Entities.ViewComment>


<br/>
<strong>Dodatkowe adnotacje</strong>
<br/>

<table>
    @foreach (Hospice.Domain.Entities.ViewComment comment in Model)
    {
        <tr>
            <td>@comment.Date</td><td> - </td><td>@comment.Author</td>
        </tr>
        <tr>
            <td></td><td></td><td>@comment.Content</td>
        </tr>
    }
</table>

<br />
<strong>Dodaj własną adnotację</strong>
<br />

@{Html.RenderAction("AddComment", "PatientCardComment");} 

