﻿@model List<Hospice.Domain.Entities.PatientOrdersForNursesDrugHS>
<table border="1" id="OrdersForNursesTable">
    <tr>
        <td>
            Nazwa
        </td>
        <td>
            Dawka
        </td>
        <td id="OrdersForNursesTableTDDR">
            Data rozpoczęcia
        </td>
        <td id="OrdersForNursesTableTDDZ">
            Data zakończenia
        </td>
        <td id="OrdersForNursesTableTDCZ">
            Częstotliwość
        </td>
        <td id="OrdersForNursesTableTDI">
            Interwał
        </td>
        <td id="OrdersForNursesTableTDU">
            Uwagi
        </td>
        <td id="OrdersForNursesTableTDZN">Zlecenie na</td>
    </tr>
    @foreach (Hospice.Domain.Entities.PatientOrdersForNursesDrugHS item in Model)
    {
        <tr>
            <td>
                @item.Nazwaleku
            </td>
            <td>
                @item.Dawka
            </td>
            <td>
                @item.Datarozpoczecia
            </td>
            <td>
                @item.Datazakonczenia
            </td>
            <td>
                @item.CzestotliwoscCzestotliwosc
            </td>
            <td>
                @item.Interwal
            </td>
            <td>
                @item.Uwagi
            </td>
            <td>
                <table>
                    @foreach (Hospice.Domain.Entities.ZaleceniaLekarskieLekiGodziny godzina in item.CalculatedGodziny)
                    {
                        <tr>
                            <td>
                                @godzina.Godzina
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
    @if (Model.Count <= 0)
    {
        <tr>
            <td colspan="8">
                <span>Brak danych.</span>
            </td>
        </tr>
    }
</table>