﻿@model List<Hospice.Domain.Entities.ZaleceniaLekarskieLekiDoPodaniaUSP>
@DateTime.Now
<table border="1" id="OrdersForNursesTable">
    <tr>
        <td id="OrdersForNursesTableNurseTDZN">
            Zlecenie na
        </td>
        <td>
            Nazwa leku
        </td>
        <td>
            Dawka
        </td>
        <td>
            Droga podania
        </td>
        <td id="OrdersForNursesTableNurseTDDW">
            Data wykonania
        </td>
        <td id="OrdersForNursesTableNurseTDW">
            Wykonano
        </td>
        <td id="OrdersForNursesTableNurseTDU">
            Uwagi
        </td>
    </tr>
    @foreach (Hospice.Domain.Entities.ZaleceniaLekarskieLekiDoPodaniaUSP item in Model)
    {
        <tr>
            <td>
                @item.Godzina
            </td>
            <td>
                @item.Nazwaleku
            </td>
            <td>
                @item.Dawka
            </td>
            <td>
                @item.DrogaPodaniadrogapodania
            </td>
            <td>
                @item.DataWykonania
            </td>
            <td>
                @if (item.Wykonano == true)
                {
                    <span>Tak</span>
                }
                else
                {
                    <span>Nie</span>
                }
            </td>
            <td>
                @item.Uwagi
            </td>
        </tr>
    }
    @if (Model.Count <= 0)
    {
        <tr>
            <td colspan="7">
                <span>Brak danych.</span>
            </td>
        </tr>
    }
</table>