﻿@model Hospice.Models.LoginViewModel

@{
    ViewBag.Title = "Zaloguj się";
}

<div class="row">
    <div class="col-md-12">
		<div id="logo">
			<img class="logo" src="~/Images/logo3.png" alt="Start" height="119px" width="271px" />
		</div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
					<input type="submit" value="Zaloguj się" class="btnLogin" />
                </div>                
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}