﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platforma FHO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        function hide(name) {
            document.getElementById(name).style.display = 'none';
            document.getElementById("divHide_" + name).style.display = 'none';
            document.getElementById("divShow_" + name).style.display = 'block';
        }
        function show(name) {
            document.getElementById(name).style.display = 'block';
            document.getElementById("divHide_" + name).style.display = 'block';
            document.getElementById("divShow_" + name).style.display = 'none';
        }
    </script>
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Images/apple-icon-114x114.png" />
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Images/apple-icon-72x72.png" />
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="~/Images/apple-icon-precomposed.png" />
	<!-- For nokia devices and desktop browsers : -->
	<link rel="shortcut icon" href="~/Images/favicon-16x16.png" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">               
				<button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>			
				<a class="navbar-brand" href="@Url.Action("Index", "PatientCard", new { Area = "" })">                    
					<img class="logo" src="~/Images/logo3.png" alt="Start" height="50px" width="139px" />
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
                    <li class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedMainAppMenuItemPatientCard">@Html.ActionLink("Karta Pacjenta", "Index", "PatientCard")</li>
				</ul>                
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
	<footer class="footer">
		<p>
			<span>Process To Go</span>
			<span>&copy;FHO - @DateTime.Now.Year</span>
			@Html.ActionLink("Wyloguj się", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })
		</p>
	</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
