﻿@using Microsoft.AspNet.Identity
@if (Hospice.Infrastructure.Helpers.SessionHelper.GetUserSettings().AuthenticatedUser != null)
{
   
	@Html.AntiForgeryToken()

	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="">Witaj @Hospice.Infrastructure.Helpers.SessionHelper.GetUserSettings().AuthenticatedUser.CurrentUserInfo.DisplayName!</a>            
		</li>
	</ul>
}
