﻿@using Hospice.Infrastructure.Helpers;

@if(SessionHelper.GetUICurrentSettings().SelectedHospiceTypeStationary)
{ 
	
}
else
{
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedPatientTeleHistMenuItemHist">@Html.ActionLink("Historia choroby", "PatientCardPatientMedicalHistory", "PatientCard", routeValues: new { fldId = SessionHelper.GetUICurrentSettings().SelectedPatientId }, htmlAttributes: new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedPatientTeleHistMenuItemTele">@Html.ActionLink("Telemedycyna", "PatientCardPatientTelemedicine", "PatientCard", routeValues: new { fldId = SessionHelper.GetUICurrentSettings().SelectedPatientId }, htmlAttributes: new { @class = "navbar-brand" })</li>

	</ul>
}