﻿@using Hospice.Infrastructure.Helpers;

@if(SessionHelper.GetUICurrentSettings().SelectedHospiceTypeStationary)
{ 
	<ul class="nav nav-pills nav-justified">
		<li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemDoctor">@Html.ActionLink("Lekarz", "PatientCardPatientMedicalHistoryDoctorHS", "PatientCardDoctor", null, new { @class = "" })</li> @* jeśli jesteśmy w stanie dopisać po kliknięćiu class="active" to bedzie git :) *@
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemNurse">@Html.ActionLink("Pielęgniarka", "PatientCardPatientMedicalHistoryNurseHS", "PatientCardNurse", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPsychologist">@Html.ActionLink("Psycholog", "PatientCardPatientMedicalHistoryPsychologistHS", "PatientCardPsychologist", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPhysiotherapist">@Html.ActionLink("Fizjoterapeuta", "PatientCardPatientMedicalHistoryPhysiotherapistHS", "PatientCardPhysiotherapist", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPatientData">@Html.ActionLink("Dane Pacjenta", "PatientCardPatientMedicalHistoryPatientDataHS", "PatientCardPatientData", null, new { @class = "" })</li>
	</ul> 
}
else
{
	<ul class="nav nav-pills nav-justified">
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemDoctor">@Html.ActionLink("Lekarz", "PatientCardPatientMedicalHistoryDoctorHD", "PatientCardDoctor", null, new { @class = "" })</li> @* jeśli jesteśmy w stanie dopisać po kliknięćiu class="active" to bedzie git :) *@
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemNurse">@Html.ActionLink("Pielęgniarka", "PatientCardPatientMedicalHistoryNurseHD", "PatientCardNurse", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPsychologist">@Html.ActionLink("Psycholog", "PatientCardPatientMedicalHistoryPsychologistHD", "PatientCardPsychologist", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPhysiotherapist">@Html.ActionLink("Fizjoterapeuta", "PatientCardPatientMedicalHistoryPhysiotherapistHD", "PatientCardPhysiotherapist", null, new { @class = "" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedCardMenuItemPatientData">@Html.ActionLink("Dane Pacjenta", "PatientCardPatientMedicalHistoryPatientDataHD", "PatientCardPatientData", null, new { @class = "" })</li>
	</ul> 
}