﻿@using Hospice.Infrastructure.Helpers;

@if(SessionHelper.GetUICurrentSettings().SelectedHospiceTypeStationary)
{ 
	
}
else
{
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemPumpIn">@Html.ActionLink("Pompy", "ListPumpIn", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemPressure">@Html.ActionLink("Ciśnienie", "ListPressure", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemECG">@Html.ActionLink("EKG", "ListEKG", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemSpO2">@Html.ActionLink("SpO2", "ListSpO2", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemWeight">@Html.ActionLink("Waga", "ListWeight", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>
        <li role="presentation" class="@Hospice.Infrastructure.Helpers.SessionHelper.GetMenuSettings().SelectedTeleMenuItemSugar">@Html.ActionLink("Cukier", "ListSugar", "PatientCardTelemedicine", null, new { @class = "navbar-brand" })</li>        
	</ul>
}