﻿@model Hospice.Models.SeededCategories

@if (Model.Categories.Where(s => s.Parent_ID == Model.Seed).Any())
{
    <ul>
        @foreach (var node in Model.Categories)
        {
            if (node.Parent_ID == Model.Seed)
            {
                Hospice.Models.SeededCategories inner = new Hospice.Models.SeededCategories { Seed = node.ID, Categories = Model.Categories };
                <li style="list-style-type: none;" >
                    @if (inner.Categories.Where(s => s.Parent_ID == inner.Seed).Any())
{

                        <div id="divHide_@node.ID" onclick="hide('@node.ID')" class="treePatientCardMedicalDataName">
                            <div style="float: left;"><img class="treeNodeImage" src="~/Images/treeTriangleClose.png" alt="-" height="15" width="15" /></div>
                            <div>@node.Name</div>
                        </div>
                        <div id="divShow_@node.ID" onclick="show('@node.ID')" class="treePatientCardMedicalDataName" style="display: none;">
                            <div style="float: left;"><img class="treeNodeImage" src="~/Images/treeTriangleOpen.png" alt="+" height="15" width="15" /></div>
                            <div>@node.Name</div>
                        </div>
                        <div id="@node.ID">
                            @Html.Partial("_PatientCardMedicalHistoryTreeCategories", inner)
                        </div>

                    }
                    else
                    {
                        if (node.Controller != null)
                            {
                                <div class="treePatientCardMedicalDataName">
                                    <div style="float: left;"><img class="treeNodeImage" src="~/Images/treeTriangleEmpty.png" alt="" height="15" width="15" /></div>
                                    
                                    @if(node.FileGUID == null)
                                    {
                                        <div>@Html.ActionLink(node.Name, @node.Action, @node.Controller, routeValues: new { fldId = node.FldId }, htmlAttributes: null)</div>
                                    }
                                    else
                                    {
                                        <div>@Html.ActionLink(node.Name, @node.Action, @node.Controller, routeValues: new { fldId = node.FileGUID }, htmlAttributes: null)</div>
                                    }
                                    
                                </div>
                            }
                            else
                            {
                                <div class="treePatientCardMedicalDataName">
                                    <div style="float: left;"><img class="treeNodeImage" src="~/Images/treeTriangleEmpty.png" alt="" height="15" width="15" /></div>
                                    <div>@node.Name</div>
                                </div>
                                
                            }
                    }
                                        
                    
                </li>
            }
        }
    </ul>
}
