﻿@using Hospice.Infrastructure.Helpers;

@if(SessionHelper.GetUICurrentSettings().SelectedHospiceTypeStationary)
{ 
	<table>
        <tr>
            <td>Data:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientDocumentDataHS</td>
        </tr>
        <tr>
            <td>Nazwa dokumentu:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientDocumentNameHS</td>
        </tr>
        <tr>
            <td>Lekarz prowadzący:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientMainDoctorHS</td>
        </tr>
        <tr>
            <td>Pielęgniarka prowadzący:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientMainNurseHS</td>
        </tr>
        <tr>
            <td>Psycholog:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientPsychologistHS</td>
        </tr>
        <tr>
            <td>Fizjoterapeuta:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientPhysiotherapistHS</td>
        </tr>
    </table>
}
else
{
	<table>
        <tr>
            <td>Data:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientDocumentDataHD</td>
        </tr>
        <tr>
            <td>Nazwa dokumentu:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientDocumentNameHD</td>
        </tr>
        <tr>
            <td>Lekarz prowadzący:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientMainDoctorHD</td>
        </tr>
        <tr>
            <td>Pielęgniarka prowadzący:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientMainNurseHD</td>
        </tr>
        <tr>
            <td>Psycholog:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientPsychologistHD</td>
        </tr>
        <tr>
            <td>Fizjoterapeuta:</td>
            <td>@SessionHelper.GetUICurrentSettings().SelectedPatientPhysiotherapistHD</td>
        </tr>
    </table>
}