﻿@model Hospice.Models.PatientSearchModel

@{
    ViewBag.Title = "Karta pacjenta";
}

<h2 class="text-center">Znajdź pacjenta</h2>
<div class="row">
    <div class="col-md-12">
        <section>
            @using (Html.BeginForm("PatientCardPatientSearchResults", "PatientCard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Podaj dane do wyszukiwania</h4>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
					@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
					@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PESEL, new { @class = "col-md-2 control-label" })
					@Html.TextBoxFor(m => m.PESEL, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.PESEL)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HospiceTypes, new { @class = "col-md-2 control-label" })
					@Html.DropDownListFor(m => m.SelectedHospiceTypeId, Model.HospiceTypes, new { @class = "form-control" })
                </div>
                <div class="form-group">
					<input type="submit" value="Szukaj" class="btn btn-info" />
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}