﻿@model IEnumerable<Hospice.Domain.Entities.PatientHD>

@{
    ViewBag.Title = "Karta pacjenta";
}

<h2 class="text-center">Pacjenci spełniający kryteria wyszukiwania.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="">
            <div class="table-responsive">
				<table class="table table-bordered table-striped table-hover" border="1" width="100%">
					<thead>
						<tr>
							<th>
								Imię
							</th>
							<th>
								Nazwisko
							</th>
							<th>
								PESEL
							</th>
							<th>
								Hospicjum
							</th>
							<th>
								Opcje
							</th>
						</tr>
					</thead>
					@foreach (Hospice.Domain.Entities.PatientHD item in Model)
					{
						<tr>
							<td>
								@item.txtImiepacjenta
							</td>
							<td>
								@item.txtNazwiskopacjenta
							</td>
							<td>
								@item.PESEL
							</td>
							<td>
								Domowe
							</td>
							<td>
								@Html.ActionLink("Historia choroby", "PatientCardPatientMedicalHistory", "PatientCard", routeValues: new { fldId = item.fldId }, htmlAttributes: null)
								@Html.ActionLink("Telemedycyna", "PatientCardPatientTelemedicine", "PatientCard", routeValues: new { fldId = item.fldId }, htmlAttributes: null)
							</td>
						</tr>
					}
				</table>
			</div>
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
