﻿@{
    ViewBag.Title = "Platforma FHO";
}


<div class="row">
    <div class="col-md-12">
        <section id="">
            @{Html.RenderAction("_PatientCardSelectedPatientMenuMiddleTeleHistory", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientSelected", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientMenuTelemedicine", "PatientCard");}
        </section>  
		
		<section id="" >
			<div class="form-group">
				<label for="alert-type">Filtruj typ alarmu</label>
				<select id="alert-type" class="form-control">
					<option value="">Wybierz typ alarmu</option>
					<option value="alarm">Alarm</option>
					<option value="pre-alarm">Pre-alarm</option>
					<option value="info">Informacja</option>
				</select>
			</div>
			<div class="table-responsive">
                @*<br />UserId: @Hospice.Infrastructure.Helpers.SessionHelper.GetUserSettings().AuthenticatedUser.CurrentUserInfo.UserId*@
                @*<br />UserName: @Hospice.Infrastructure.Helpers.SessionHelper.GetUserSettings().AuthenticatedUser.CurrentUserInfo.UserName*@
				<div class="ajaxLoader" style="display: none;"><img src="~/Images/ajax-loader.gif" width="32px" /></div>
			</div>
		</section>  
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
	
		$("#alert-type").on("change", function() {
			$('.table-responsive tr').hide();
			var element = $(this);
			if(element.val() != "") {
				$('.table-responsive tr.'+ element.val() +'').show();
			} else {
				$('.table-responsive tr').show();
			}
		});
		
		$(".table-responsive").on("click", "tr.alarmElement", function() {
			
			if(confirm("Czy chcesz odnzaczyć alarm jako przeczytany?")) {
				var element = $(this);
				$.ajax({
				    url: "@Hospice.Infrastructure.Helpers.SessionHelper.GetUICurrentSettings().ConfigWebServiceAddress()/SequenceServiceNonAuth/SequenceServiceRest.svc/MarkAlarmAsVisited",
					type: "POST",
					data: JSON.stringify(element.data("alarmid")),
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					beforeSend: function(jqXHR, settings) {
						$(".ajaxLoader").show();
					},
					complete: function(jqXHR, textStatus) {
						$(".ajaxLoader").hide();
					},
					success: function (response) {
						if(response === true) {
							element.find("td.status").html("Odczytany");
							alert('Poprawnie zmieniono status alertu.');
						} else {
							alert('Zmiana statusu alertu nie powiodło się.');
						}
					},
					error: function (xhr, status, text) {
						console.log(xhr.responseText);
					}
				});
			}
			
		});
	
		//var staticResponse = '[ { "deviceId": "8888", "patient": { "firstName": "Jan", "lastName": "Kowalski", "patientId": "97062215198" }, "doctor": {"fullName": "asda test", "doctorId": "334"}, "alarmId": "456", "alarmTime": "2015-02-02T00:00:00", "visited": "false", "message": "Przekroczono limit objętości", "priority": 1 }, { "deviceId": "8888", "patient": { "firstName": "Jan", "lastName": "Kowalski", "patientId": "97062215198" }, "doctor": {"fullName": "tas asdasd tasasdas", "doctorId": "111"}, "alarmId": "2", "alarmTime": "2015-02-02T00:00:00", "visited": "false", "message": "Przekroczono limit objętości w jedn. Czasu", "priority": 1 }, { "deviceId": "8888", "patient": { "firstName": "Jan", "lastName": "Kowalski", "patientId": "97062215198" }, "doctor": {"fullName": "Test test", "doctorId": "123" }, "alarmId": "3", "alarmTime": "2015-02-02T00:00:00", "visited": "false", "message": "Koniec infuzji", "priority": 1 } ]';

		$.ajax({
		    url: "@Hospice.Infrastructure.Helpers.SessionHelper.GetUICurrentSettings().ConfigWebServiceAddress()/SequenceServiceNonAuth/SequenceServiceRest.svc/GetAlarmsById",
			type: "POST",
			data: JSON.stringify(@Hospice.Infrastructure.Helpers.SessionHelper.GetUserSettings().AuthenticatedUser.CurrentUserInfo.UserId),
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			beforeSend: function(jqXHR, settings) {
				$(".ajaxLoader").show();
			},
			complete: function(jqXHR, textStatus) {
				$(".ajaxLoader").hide();
			},
			success: function (response) {
				var table = '<table class="table table-bordered table-striped table-hover" border="1" width="100%">';
				table += '<tr><th>Data alarmu</th><th>Typ</th><th>Aparat</th><th>Status</th><th>Treść alarmu</th></tr>';
				if(response.length > 0 && Object.keys(JSON.parse(response)).length > 0) {
					var response = JSON.parse(response);
					
					$.each(response, function() {
						var element = this;
						var alarmType = "";
						var status = element.visited == "true" ? "Odczytany" : "Nowy";
						switch(element.priority) {
							case 1:
								alarmType = "alarm";
							break;
							case 2:
								alarmType = "pre-alarm";
							break;
							case 3:
								alarmType = "info";
							break;
						}
						table += '<tr class="alarmElement ' + alarmType + '" data-alarmid="'+ element.alarmId +'"><td>'+ prepareDate(element.alarmTime) +'</td><td>Pompa</td><td>'+ element.deviceId +'</td><td class="status">'+ status +'</td><td>'+ element.message +'</td></tr>';
					});
				}
				
				table += "</table>";
				$(".table-responsive").html(table);
			},
			error: function (xhr, status, text) {
				console.log(xhr.responseText);
			}
		});
		
		function prepareDate(date) {
            var date = new Date(date);

            var d = (parseInt(date.getDate())) < 10 ? "0" + date.getDate() : date.getDate();
            var m = (parseInt(date.getMonth()) + 1) < 10 ? "0" + (parseInt(date.getMonth()) + 1) : (parseInt(date.getMonth()) + 1);
			var h = (parseInt(date.getHours())) < 10 ? "0" + date.getHours() : date.getHours();
            var min = (parseInt(date.getMinutes())) < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var sec = (parseInt(date.getSeconds())) < 10 ? "0" + date.getSeconds() : date.getSeconds();

			return date.getFullYear() + "-" + m + "-" + d + " " + h + ":" + min + ":" + sec;
        }
	</script>
}
