#ecg TABLE {
border-collapse:collapse;
}

#ecgScaleContainer {
left:0;
width:900px;
height:10px;
overflow:hidden;
position:relative;
display:block;
}

#ecgScale {
width:900px;
height:10px;
display:block;
}

#ecgSignatureContainer {
left:0;
width:30px;
height:350px;
overflow:hidden;
position:relative;
display:block;
}

#ecgSignature {
width:32px;
height:300px;
display:block;
}

#ecgDiagramContainer {
left:0;
width:900px;
height:350px;
overflow:scroll;
position:relative;
display:inline-block;
cursor:crosshair;
}

#ecgDiagram {
height:400px;
width:900px;
background-image:url(ecgBack.png);
display:block;
}

#ecgOtherDiagram {
height:10px;
width:10px;
background:none;
display:block;
position:absolute;
top:0;
left:0;
}

.grabbable {
cursor:hand;
cursor:grab!important;
cursor:-moz-grab;
cursor:url(openhand.cur),pointer!important;
cursor:-webkit-grab;
}

.grabbing {
cursor:hand;
cursor:grabbing!important;
cursor:-moz-grabbing;
cursor:-webkit-grabbing;
cursor:url(closedhand.cur),pointer!important;
}

.adjusting {
cursor:col-resize!important;
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
background-color:#0083CA;
color:#FFF;
}

input[type=button],
input[type=checkbox] + label,
input[type=radio] + label,
input[type=checkbox] + label,
LABEL {
background-color:#FFF;
border:1px solid #e3e0dd;
color:#0083CA;
cursor:pointer;
display:inline-block;
}

input[type=radio],
input[type=checkbox],
input[type=checkbox] {
display:none;
}

