﻿html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 60px;
	background-color: #D5DADB;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer p {
	margin: 0;
}

code {
  font-size: 80%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	margin-top: 10px;
}

.footer {
    background-color: #35749d;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.treePatientCardMedicalDataName:hover
{
    color: #1a97d2;
    cursor: pointer;
    cursor: hand;
}

.display-label
{
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: left;
    padding-left: 5px;
    text-overflow: ellipsis;
    padding-bottom: 1px;
}

.display-field
{
    margin-left: 200px;
    color:black;
    padding-bottom: 1px;
}

.display-field:before,
.display-field:after
{
    display: table;
    border-collapse: collapse;
    content: " ";
}

.display-field:after
{
    clear: both;
}

.navbar-inverse {
    background-color: #35749D;
}

.navbar-brand { 
	float: none;
}

.container > .navbar-header, .container > .navbar-collapse {
	margin-right: 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

input, select, textarea {
    max-width: 100%;
}

#loginForm  .btnLogin {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #99e0f4 0%, #97dff5 17%, #81d9f1 43%, #62cfee 73%, #57cced 92%, #59cbed 100%) repeat scroll 0 0;
    border: 1px solid #53b4d2;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 0 #83c7da;
	width: 100%;
	height: 34px;
}

#logo {
    margin: 15px auto;
	text-align: center;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	margin-bottom: 7px;
}

.btn {
	margin-top: 20px;
	width: 100%;
}

.footer a#logoutLink {
    color: #fff;
    float: right;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: underline;
}

section#loginForm {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    padding: 0;
	margin: 0;
}

section {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

.treeNodeImage {
	border: 1px solid;
	margin-right: 5px;
}

.nav-pills > li {
	text-align: center;
}

.nav-pills > li > a {
	font-size: 18px;
	font-weight: bold;
}

.table-responsive {
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}

.table-responsive .alarmElement {
    cursor: pointer;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#ecgScaleContainer, #ecgScale {
	height: 20px !important;
}

.table > tbody > tr.success > td {
    background-color: #35e815;
}

.table > tbody > tr.alarm > td {
    background-color: red;
	color: #fff;
}

.table > tbody > tr.pre-alarm > td {
    background-color: yellow;
	color: #000;
}

.table > tbody > tr.info > td {
    /*background-color: purple;
	color: #fff;*/
}

.ajaxLoader {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#OrdersForNursesTable{
    width: 800px;
	margin-bottom:10px;
	text-overflow:clip;
}


#OrdersForNursesTableTDDR{
    width: 85px;
}

#OrdersForNursesTableTDDZ{
    width: 85px;
}

#OrdersForNursesTableTDCZ{
    width: 95px;
}

#OrdersForNursesTableTDI{
    width: 60px;	
}

#OrdersForNursesTableTDU{
    width: 135px;
}

#OrdersForNursesTableTDZN{
    width: 65px;
}

#OrdersForNursesTableNurse{
    width: 800px;
	margin-bottom:10px;
	text-overflow:clip;
}

#OrdersForNursesTableNurseTDZN{
    width: 85px;
}

#OrdersForNursesTableNurseTDDW{
    width: 85px;
}

#OrdersForNursesTableNurseTDW{
    width: 85px;
}

#OrdersForNursesTableNurseTDU{
    width: 135px;
}

#mostek {
    margin-left: -8px;
    margin-top: -10px;
    transform: rotate(270deg);
    transform-origin: left top 0;
}