﻿@model Hospice.Models.SeededCategories

@{
    ViewBag.Title = "Telemedycyna - EKG";
}
<style>
    #prevBtn:not(:disabled), #nextBtn:not(:disabled) {
        background-color: orange;
        color: white;
        border: 1px solid orange;
        height: 23px;
    }

    label {
        border: 0px !important;
    }

    .dis-inline {
        vertical-align: middle;
        display: inline-block;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <section id="">
            @{Html.RenderAction("_PatientCardSelectedPatientMenuMiddleTeleHistory", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientSelected", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientMenuTelemedicine", "PatientCard");}
        </section>
        <section id="">
			<div class="row">
				<div class="col-md-12">
					<form class="">
						<div class="form-group">
							<label class="control-label">Imię i Nazwisko</label>
							<input id="TextBox1" class="form-control" type="text" value="@ViewBag.TextBox1" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Pesel</label>
							<input id="TextBox2" class="form-control" type="text" value="@ViewBag.TextBox2" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Numer urządzenia</label>
							<input id="TextBox3" class="form-control" type="text" value="@ViewBag.TextBox3" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Uwagi</label>
							<textarea id="TextArea1" class="form-control" rows="7" cols="50"></textarea>
						</div>
						<div class="form-group">
							<input id="SaveComments" class="btn btn-info" type="submit" value="Zapisz uwagi">
						</div>
					</form>
				</div>
			</div>
			<hr />	
				<form enctype="application/x-www-form-urlencoded">



					<div id="patient" style="display: none">

						<table id="measure">

							<tbody>


								<tr>

									<td>Last name</td>

									<td><span class="value" id="lastNameId">88885</span></td>

									<td><input id="w-rr" type="checkbox"><label title="Measure RR" for="w-rr">RR</label></td>

									<td><input disabled="disabled" id="fwrr" name="fwrr" type="text"></td>

									<td>HR:</td>

									<td><input disabled="disabled" id="fwhr" name="fwhr" type="text"></td>

									<td>PQ:<input disabled="disabled" id="fwpq" name="fwpq" type="text"></td>

								</tr>



								<tr>

									<td>Sex</td>

									<td><span class="value">Unknown</span></td>

									<td><input id="w-p" type="checkbox"><label title="Measure P" for="w-p">P</label></td>

									<td><input disabled="disabled" id="fwp" name="fwp" type="text"></td>

									<td>ax P:</td>

									<td><input disabled="disabled" id="fwaxp" name="fwaxp" type="text"></td>

									<td id="descriptions" rowspan="3"><div style="width: 714px;"></div></td>

								</tr>

								<tr>

									<td>Age</td>

									<td><span class="value"></span></td>

									<td><input id="w-qrs" type="checkbox"><label title="Measure QRS" for="w-qrs">QRS</label></td>

									<td><input disabled="disabled" id="fwqrs" name="fwqrs" type="text"></td>

									<td>ax QRS:</td>
									<td><input disabled="disabled" id="fwaxqrs" name="fwaxqrs" type="text"></td>

								</tr>

								<tr>

									<td>Device</td>

									<td><span class="value">88885</span></td>

									<td><input id="w-t" type="checkbox"><label title="Measure T" for="w-t">T</label></td>

									<td><input disabled="disabled" id="fwt" name="fwt" type="text"></td>

									<td>ax T:</td>
									<td><input disabled="disabled" id="fwaxt" name="fwaxt" type="text"></td>

								</tr>

								<tr>

									<td>Exam. date</td>
									<td><span class="value">2015-02-06 15:09:16</span></td>

									<td><label>QT</label></td>
									<td><input disabled="disabled" id="fwqt" name="fwqt" type="text"></td>

									<td>QTc:</td>
									<td><input disabled="disabled" id="fwqtc" name="fwqtc" type="text"></td>

									<td></td>

								</tr>

							</tbody>

						</table>

						<input value="" name="fwrrstart" type="hidden">

						<input value="" name="fwrrstop" type="hidden">

						<input value="" name="fwqrsstart" type="hidden">

						<input value="" name="fwqrsstop" type="hidden">

						<input value="" name="fwpstart" type="hidden">

						<input value="" name="fwpstop" type="hidden">

						<input value="" name="fwtstart" type="hidden">

						<input value="" name="fwtstop" type="hidden">

					</div>



					<div>



						<span id="hrResult" style="display: none">

							<div>

								<table>

									<tbody>

										<tr><td colspan="4">HR average</td></tr>

										<tr><td colspan="4" id="hrAvr">&nbsp;</td></tr>

										<tr><td>min:</td><td id="hrMin"></td><td>max:</td><td id="hrMax"></td></tr>

									</tbody>

								</table>

							</div>

						</span>

						<div>
							<button id="prevBtn" type="button" disabled="true">Wcześniej</button>
							<div id="ecgDateTimeLabel" style="display: inline-block;"></div>
							<button id="nextBtn" type="button">Później</button>

						</div>

						<span id="examControls">

							<span>

								<input name="xfactor" id="10mm/s" type="radio"><label title="Speed" for="10mm/s">10mm/s</label>

								<input checked="checked" name="xfactor" id="25mm/s" type="radio"><label title="Speed" for="25mm/s">25mm/s</label>

								<input name="xfactor" id="50mm/s" type="radio"><label title="Speed" for="50mm/s">50mm/s</label>

							</span>

							<span>

								<input name="yfactor" id="5mm/mV" type="radio"><label title="Sensitivity" for="5mm/mV">5mm/mV</label>

								<input checked="checked" name="yfactor" id="10mm/mV" type="radio"><label title="Sensitivity" for="10mm/mV">10mm/mV</label>

								<input name="yfactor" id="20mm/mV" type="radio"><label title="Sensitivity" for="20mm/mV">20mm/mV</label>

							</span>

							<span>

								<input title="Widen graph distance" id="incDist" type="button" value="Far">

								<input title="Reduce graph distance" id="decDist" type="button" value="Near">

							</span>

							<span>

								<input title="Zoom in" id="zoomIn" type="button" value="Zoom in">

								<input title="Zoom out" id="zoomOut" type="button" value="Zoom out">

							</span>

							<span>

								<input id="filter50" type="checkbox"><label title="Filter power supply frequency 50Hz" for="filter50">50Hz</label>

							</span>

							<span>

								<input id="filterRR" type="checkbox"><label for="filterRR" title="Automatic RR detection">RR</label>

							</span>

						</span>



					</div>

					<div id="ecg"></div>
					<div id="mostek"></div>



				</form>
        </section>
    </div>
</div>
<link type="text/css" rel="stylesheet" href="~/Content/example.css">
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ecg.mini.js")

    <script type="text/javascript">

    graphKey = { key: 'b860d62c', path: '/CardioPortal' };
    i = 0;

    var dataWS = JSON.stringify(@Html.Raw(@ViewBag.DaneWSEKGALL));

		if(undefined == dataWS) {
			alert("Brak danych do wyświetlenia na wykresie");
		}

		ecgDataAllData = undefined != dataWS ? JSON.parse(dataWS) : undefined;  //pobieranie wartosci data z inputa
		commentArea = $("#TextArea1");

		if(undefined != ecgDataAllData) {
			var defaultKey = 0;
			var telemedicineDate = '@ViewBag.ResearchDate.ToString("s")';

			if(telemedicineDate != "") {
				telemedicineDate = telemedicineDate;
				$.each(ecgDataAllData.dateTime, function(key, value) {
					
					if(telemedicineDate == value) {
						defaultKey = key;
						i = defaultKey;
						if(i > 0) {
							document.getElementById('prevBtn').disabled = false;
						}
					}
				});
			}
			
			//get defaults
			var defaults = {
				ecg: JSON.parse(ecgDataAllData.ecg[defaultKey]).data,
				date: ecgDataAllData.dateTime[defaultKey],
				comment: ecgDataAllData.comments[defaultKey],
				patientId: $('#TextBox2').val().length > 0 ? $('#TextBox2').val() : null,
				deviceId: $('#TextBox3').val().length > 0 ? $('#TextBox3').val() : null,
				MeasureType: 3
			};
			
			var electrode = JSON.parse(ecgDataAllData.ecg[i]).refElectrode;
			if(JSON.parse(ecgDataAllData.ecg[i]).refElectrode != undefined) {
				$("#mostek").html('<div class="mostek">' + electrode[0] + '</div>' + '<div class="mostek">' + electrode[1] + '</div>');
			} else {
				$("#mostek").html(" ");
			}

			//set defaults
			ecgData = { data: defaults.ecg }; //defaultowo pierwszy wykres
			$('#ecgDateTimeLabel').html(prepareDate(defaults.date, true)); //defaultowo pierwsza data
			commentArea.val(defaults.comment); //defaultowo pierwszy komentarz

			//set object with defaults data
			commentRequest = {
				PatientID: defaults.patientId,
				DeviceID: defaults.deviceId,
				Comment: defaults.comment,
				DateTimeS: defaults.date,
				MeasureType: defaults.MeasureType
			};
			
			ecgDataReady = true;

			$("#SaveComments").on("click", function () {
				if (confirm("Czy na pewno chcesz zapisać uwagi do badania?")) {
					if (null == commentRequest.PatientID && null == commentRequest.DeviceID || null == commentRequest.DateTimeS) {
						alert("Brak wszystkich parametrów do zapisu.");
						return false;
					}

					if(undefined != ecgDataAllData) {
						commentRequest.Comment = commentArea.val(); //get comment
						commentRequest.DateTimeS = ecgDataAllData.dateTime[i]; //get date

						$.ajax({
						    url: '@Hospice.Infrastructure.Helpers.SessionHelper.GetUICurrentSettings().ConfigWebServiceAddress()/SequenceServiceNonAuth/SequenceServiceRest.svc/AddComment',
							type: 'POST',
							data: JSON.stringify(commentRequest),
							dataType: 'json',
							contentType: 'application/json; charset=utf-8',
							success: function (response) {
								if (response === true) {
									alert('Poprawnie dodano uwagi do badania.');
									ecgDataAllData.comments[i] = commentRequest.Comment; //set new comment into all comments
								} else {
									alert('Dodawanie uwagi do badania nie powiodło się.');
								}
							},
							error: function (xhr, status, text) {
								alert('Dodawanie uwagi do badania nie powiodło się.');
							}
						});
					}
				}
				return false;
			});
		} else {
			$("#SaveComments").on("click", function() {
				alert("Brak danych z WS");
				return false;
			});
		}

        function prepareDate(date, toShow) {
            var date = new Date(date);

            var d = (parseInt(date.getUTCDate())) < 10 ? "0" + date.getUTCDate() : date.getUTCDate();
            var m = (parseInt(date.getUTCMonth()) + 1) < 10 ? "0" + (parseInt(date.getUTCMonth()) + 1) : (parseInt(date.getUTCMonth()) + 1);
            var min = (parseInt(date.getUTCMinutes())) < 10 ? "0" + date.getUTCMinutes() : date.getUTCMinutes();
            var sec = (parseInt(date.getUTCSeconds())) < 10 ? "0" + date.getUTCSeconds() : date.getUTCSeconds();

			if(toShow) {
				return date.getUTCFullYear() + "-" + m + "-" + d + " " + date.getUTCHours() + ":" + min + ":" + sec;
			}
			else {
				return date.getUTCFullYear() + "-" + m + "-" + d + "T" + date.getUTCHours() + ":" + min + ":" + sec;
			}
        }

		$("#prevBtn").on("click", function() {
			prev();
		});

		$("#nextBtn").on("click", function() {
			next();
		});

        function next() {
            try {
                if (i < ecgDataAllData.ecg.length - 1) {

                    if (ecgDataAllData.comments[i] != commentArea.val()) {
                        if (!confirm("Uwagi nie zostały zapisane!. Czy chcesz kontynuwac przełączanie wykresu mimo wszystko?")) {
                            return false;
                        }
                    }

                    var ecgNode = $("#ecg");
                    ecgNode.className = "";
                    while (ecgNode.firstChild) {
                        ecgNode.removeChild(ecgNode.firstChild);
                    }
                    i++;

                    ecgData = { data: JSON.parse(ecgDataAllData.ecg[i]).data };
                    ecgPanel = new ecgDisplay($("#ecg"), panelReady);
                    initSize(); //resize container block after draw new ecgPanel;
					
					var electrode = JSON.parse(ecgDataAllData.ecg[i]).refElectrode;
					if(JSON.parse(ecgDataAllData.ecg[i]).refElectrode != undefined) {
						$("#mostek").html('<div class="mostek">' + electrode[0] + '</div>' + '<div class="mostek">' + electrode[1] + '</div>');
					} else {
						$("#mostek").html(" ");
					}

                    $('#ecgDateTimeLabel').html(prepareDate(ecgDataAllData.dateTime[i], true));

                    //insert comment
                    if (undefined != ecgDataAllData.comments[i]) {
                        commentArea.val(ecgDataAllData.comments[i]);
                    } else {
                        commentArea.val("");
                    }
                }

                if (i > 0) {
                    document.getElementById('prevBtn').disabled = false;
                }
                if (i === ecgDataAllData.ecg.length - 1) {
                    document.getElementById('nextBtn').disabled = true;
                }
            } catch (err) {

            }
        }

        function prev() {
            try {
                if (i > 0) {

                    if (ecgDataAllData.comments[i] != commentArea.val()) {
                        if (!confirm("Uwagi nie zostały zapisane!. Czy chcesz kontynuwac przełączanie wykresu mimo wszystko?")) {
                            return false;
                        }
                    }

                    var ecgNode = document.getElementById("ecg");
                    ecgNode.className = "";
                    while (ecgNode.firstChild) {
                        ecgNode.removeChild(ecgNode.firstChild);
                    }
                    i--;

                    ecgData = { data: JSON.parse(ecgDataAllData.ecg[i]).data };
                    ecgPanel = new ecgDisplay($("#ecg"), panelReady);
                    initSize(); //resize container block after draw new ecgPanel;

					var electrode = JSON.parse(ecgDataAllData.ecg[i]).refElectrode;
					if(JSON.parse(ecgDataAllData.ecg[i]).refElectrode != undefined) {
						$("#mostek").html('<div class="mostek">' + electrode[0] + '</div>' + '<div class="mostek">' + electrode[1] + '</div>');
					} else {
						$("#mostek").html(" ");
					}
					
                    $('#ecgDateTimeLabel').html(prepareDate(ecgDataAllData.dateTime[i], true));

                    //insert comment
                    if (undefined != ecgDataAllData.comments[i]) {
                        commentArea.val(ecgDataAllData.comments[i]);
                    } else {
                        commentArea.val("");
                    }
                }

                if (i == 0) {
                    document.getElementById('prevBtn').disabled = true;
                }
                if (i < ecgDataAllData.ecg.length - 1) {
                    document.getElementById('nextBtn').disabled = false;
                }
            } catch (err) {

            }
        }
    </script>
}

