﻿@model Hospice.Models.SeededCategories

@{
    ViewBag.Title = "Telemedycyna - Wykres Pompa Wstrzyknięcia";
}

<style>
  #prevBtn:not(:disabled) , #nextBtn:not(:disabled) { background-color: orange; color: white; border: 1px solid orange; height: 23px; }
  .dis-inline {
    vertical-align: middle;
    display: inline-block;
  }
</style>

<div class="row">
    <div class="col-md-12">
        <section id="">
            @{Html.RenderAction("_PatientCardSelectedPatientMenuMiddleTeleHistory", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientSelected", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientMenuTelemedicine", "PatientCard");}
        </section>
        <section id="">
            <div class="row">
				<div class="col-md-12">
					<form class="">
						<div class="form-group">
							<label class="control-label">Imię i Nazwisko</label>
							<input id="TextBox1" class="form-control" type="text" value="@ViewBag.TextBox1" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Pesel</label>
							<input id="TextBox2" class="form-control" type="text" value="@ViewBag.TextBox2" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Numer urządzenia</label>
							<input id="TextBox3" class="form-control" type="text" value="@ViewBag.TextBox3" readonly="readonly">
						</div>
						<div class="form-group">
							<label class="control-label">Uwagi</label>
							<textarea id="TextArea1" class="form-control" rows="7" cols="50"></textarea>
						</div>
						<div class="form-group">
							<input id="SaveComments" class="btn btn-info" type="submit" value="Zapisz uwagi">
						</div>
					</form>
				</div>
			</div>
			<hr />
			<div class="table-responsive">
				<div id="infusionStaticChart"></div>
				<hr />
				<div id="infusionDynamicChart"></div>
			</div>
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="https://www.google.com/jsapi" type="text/javascript"></script>
	@Scripts.Render("~/Scripts/googlecharts_pump.js")
	<script type="text/javascript">
    var infusionValue = JSON.stringify(@Html.Raw(@ViewBag.DaneWS));

		if(undefined != infusionValue) {
			i = 0;
			data = JSON.parse(infusionValue); //pobieranie wartosci data z inputa
			commentArea = $("#TextArea1");

			//get defaults
			var defaults = {
				comment: data.comment,
				patientId: $('#TextBox2').val().length > 0 ? $('#TextBox2').val() : null,
				deviceId: $('#TextBox3').val().length > 0 ? $('#TextBox3').val() : null,
				MeasureType: 5
			};

			//set defaults
			commentArea.val(defaults.comment); //defaultowo pierwszy komentarz

			//set object with defaults data
			commentRequest = {
				PatientID: defaults.patientId,
				DeviceID: defaults.deviceId,
				Comment: defaults.comment,
				DateTimeS: null,
				MeasureType: defaults.MeasureType
			};
		}

		function prepareDate(date) {
			var date = new Date(date);

			var d = (parseInt(date.getUTCDate())) < 10 ? "0" + date.getUTCDate() : date.getUTCDate();
			var m = (parseInt(date.getUTCMonth()) + 1) < 10 ? "0" + (parseInt(date.getUTCMonth()) + 1) : (parseInt(date.getUTCMonth()) + 1);
			var min = (parseInt(date.getUTCMinutes())) < 10 ? "0" + date.getUTCMinutes() : date.getUTCMinutes();
			var sec = (parseInt(date.getUTCSeconds())) < 10 ? "0" + date.getUTCSeconds() : date.getUTCSeconds();


			return date.getUTCFullYear() + "-" + m + "-" + d + "T" + date.getUTCHours() + ":" + min + ":" + sec;
		}

		$("#SaveComments").on("click", function() {
			if(confirm("Czy na pewno chcesz zapisać uwagi do badania?")) {
				if(null == commentRequest.PatientID && null == commentRequest.DeviceID) {
					alert("Brak wszystkich parametrów do zapisu.");
					return false;
				}
				if(undefined != infusionValue) {
					commentRequest.Comment = commentArea.val(); //get comment

					$.ajax({
					    url: '@Hospice.Infrastructure.Helpers.SessionHelper.GetUICurrentSettings().ConfigWebServiceAddress()/SequenceServiceNonAuth/SequenceServiceRest.svc/AddComment',
						type: 'POST',
						data: JSON.stringify(commentRequest),
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						success : function(response) {
							if(response === true) {
								alert('Poprawnie dodano uwagi do badania.');
							} else {
								alert('Dodawanie uwagi do badania nie powiodło się.');
							}
						},
						error: function(xhr, status, text) {
							alert('Dodawanie uwagi do badania nie powiodło się.');
						}
					});
				}
			}
			return false;
		});
	</script>
}
