﻿@model IQueryable<Hospice.Domain.Entities.MedicalDevicesLog>

@{
    ViewBag.Title = "Telemedycyna - Lista badań";
}


<div class="row">
    <div class="col-md-12">
        <section id="">
            @{Html.RenderAction("_PatientCardSelectedPatientMenuMiddleTeleHistory", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientSelected", "PatientCard");}
            @{Html.RenderAction("_PatientCardSelectedPatientMenuTelemedicine", "PatientCard");}
        </section>
        <section id="">
            <div class="table-responsive">
				<table class="table table-bordered table-striped table-hover" border="1" width="100%">
					<tr>
						<th>
							Data zapisu
						</th>
						<th>
							Typ
						</th>
						<th>
							Aparat
						</th>
                        <th>
                            Status
                        </th>
						<th>
							Opcje
						</th>
					</tr>
					@foreach (Hospice.Domain.Entities.MedicalDevicesLog item in Model)
                    {
                        <tr class="@Hospice.Infrastructure.Helpers.MenuHelper.SetCurrentMedicalDataVisited(item.Visited, false)">
                            <td>
                                @item.dateTime
                            </td>
                            <td>
                                Ciśnieniomierz
                            </td>
                            <td>
                                @item.deviceID
                            </td>
                            <td>
                                @Hospice.Infrastructure.Helpers.MenuHelper.SetCurrentMedicalDataVisited(item.Visited, true)
                            </td>
                            <td>
                                @Html.ActionLink("Wykres", "ChartPressure", "PatientCardTelemedicine", routeValues: new { deviceId = item.deviceID, dataId = item.MedicalDevicesLogId, researchDate = item.dateTime }, htmlAttributes: null)
                                
                            </td>
                        </tr>
                    }
				</table>
			</div>
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}